.simulation-wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

/* MAIN LAYOUT */
.main-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* CODE BLOCK */
.code-section {
  width: 65%;
}

textarea {
  width: 100%;
  height: 280px;
  border: 3px solid #000;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
}

/* PARAMETERS BLUE BOX */
.param-section {
  width: 32%;
  background: #e6f2fb;
  padding: 25px 20px;
  border-radius: 15px;
}

/* INPUT ROW ALIGNMENT */
.input-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-row input[type="text"] {
  width: 60px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}

/* SLIDER LOOK */
input[type="range"] {
  flex: 1;
  height: 6px;
}


.input-row input[type="text"] {
  width: 60px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 5px;
}

input[type="range"] {
  flex: 1;
}

.btn {
  background: #b7d4ec;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
}
.btn.small {
  margin-right: 360px;
}

.btn.large {
  width: 100%;
  margin-top: 10px;
}
.title a {
  color: #6bb6e5;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #6bb6e5;
}
/* CENTER TITLE */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.tab-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0 30px;
}

/* Base button style */
.tab-btn {
  background: #e6f2fb;        /* light blue */
  color: #000;
  border: none;
  padding: 10px 35px;
  border-radius: 12px;        /* pill shape */
  font-size: 16px;
  font-family: "Times New Roman", serif;
  cursor: pointer;
}

/* Active button (MVDR) */
.tab-btn.active {
  background: #b7d4ec;        /* darker blue */
  font-weight: bold;
}
.graphs-container {
  width: 90%;
  margin: 40px auto;
}

.graph-box {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 40px;
}

.graph-box canvas {
  width: 100% !important;
  height: 320px !important;
}
canvas {
  width: 100% !important;
  height: 260px !important;   
  margin-bottom: 30px;
}

